.card {
    margin-bottom: 90px;

  }
  
  .list-group-item {
    margin-bottom: 1rem;
  }
  
  .card-header h2 {
    margin-bottom: 0;
  }
  
  .lead {
    margin-bottom: 1.5rem;
  }
  
  .btn {
    margin-bottom: 0.5rem;
  }